.navbar {
	top: 0px;
	margin-bottom: 0px;
	background-color: rgba(255,255,255,  0);
	//position: fixed;
	width: 100%;
	height: 50px;
	border: none;
}

.container-fluid {
	height: inherit;
}

.navbar-header {
//    float: left;
    text-align: center;
    width: 100%;
    height: inherit;
}

.navbar-brand {
	margin: 0 auto;
	float: none;
}

.navbar-brand>img {
	display: inline;
	height: 50px;
}

h1 h2 {

}