nav.navbar.navbar-default
	.navbar-header
		if user
			a.navbar-brand(href='./')
				img(alt='Brand', src='../public/images/logo.png')
			button.navbar-btn.btn-lg
				span.glyphicon.glyphicon-plus
			a(href="/logout") log out
			
			style
				include ../public/custom/navbarsess.css
		else
			a.navbar-brand(href='./welcome')
				img(alt='Brand', src='../public/images/logo.png')

			style
				include ../public/custom/navbarnosess.css